[submodule "plugins/js2-refactor.el"]
	path = plugins/js2-refactor.el
	url = https://github.com/magnars/js2-refactor.el
[submodule "plugins/yasnippet"]
	path = plugins/yasnippet
	url = https://github.com/capitaomorte/yasnippet
[submodule "elisp/weyland-yutani-theme"]
        path = "elisp/weyland-yutani-theme"
	url = https://github.com/jstaursky/weyland-yutani-theme.git	
[submodule "elisp/theme-changer"]
	path = elisp/theme-changer
	url = https://github.com/hadronzoo/theme-changer.git
[submodule "elpa/s"]
	path = elpa/s
	url = https://github.com/magnars/s.el.git
[submodule "elisp/beacon"]
	path = elisp/beacon
	url = https://github.com/Malabarba/beacon
[submodule "elisp/dimmer"]
	path = elisp/dimmer
	url = https://github.com/gonewest818/dimmer.el
[submodule "elisp/ido-vertical-mode"]
	path = elisp/ido-vertical-mode
	url = https://github.com/creichert/ido-vertical-mode.el
